.post-card__image{
  max-width: 70%;
}

.card-icon{
  height: 20px;
}

.delete-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

@keyframes bounceUp {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px) scale(1.5);
  }
  60% {
    transform: translateY(-5px);
  }
}

.card-icon.bounce {
  animation: bounceUp 0.6s ease-in-out;
}